@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "PT Serif", serif;
}

#back {
    background-color: lightyellow;
}

.button-h {
    border-style: none;
}

.button-h img {
    amix-blend-mode: difference;
}

#back-header img { 
    height: 350px;
    width: 650px;
}