@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "PT Serif", serif;
}

body {
    background-image: url('https://c.pxhere.com/photos/7e/45/camera_canon_girl_lens_person_taking_photo_woman-1169775.jpg!d');
    background-repeat: no-repeat;
    background-size: 500px 300px;
    background-position: top left;
}

#back {
    background-color: lightyellow;
}

.button-h {
    border-style: none;
}

#back-header img { 
    height: 350px;
    width: 650px;
}